.main-container {
    display: flex;
    height: 100%;
}

.profile-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 25px;
    justify-content: space-between;
}

.iban {
    display: flex;
    align-items: center;

    button {
        font-weight: 600;
        background-color: rgb(77,86,128);
        color: white;
        border: none;
        padding: 8px;
        margin-left: 10px;
        border-radius: 5px;
        transition: background-color 200ms;
    }
    
    button:active {
        background-color: rgb(111, 124, 182);
    }
}

.label-title {
    font-weight: 600;
    font-size: 22px;
    font-style: normal;
    color: rgb(60, 67, 100);
    margin-bottom: 5px;
}

.profile-picture {
    width: 100px;
    height: 100px;
} 

.val {
    font-style: italic;
    font-size: 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    padding: 4px 6px;
}

.logout-container {
    display: flex;
    justify-content: center;
}

.logout-button {
    font-weight: 600;
    background-color: rgb(77,86,128);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 200ms;
}

.logout-button:hover {
    background-color: rgb(90, 101, 150);
    transition: all 200ms
}

.logout-button:active {
    background-color: rgb(60, 67, 100);
}