.main-container {
  display: flex;
  min-height: 100vh;

  &__home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    width: 70vw;

    &__infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      margin-top: 5rem;
    }
  }

  &__sidebar-container {
    max-width: 40vw;
  }
}
