.main-container {
  display: flex;
  min-height: 100vh;

  &__home {
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-image: url("../../assets/wave-haikei\(1\).svg");
    background-repeat: no-repeat;
    background-size: cover;

    &__infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      margin-top: 15rem;
    }

    &__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 50px;
      padding: 1rem;
    }
  }

  &__sidebar-container {
    max-width: 40vw;
  }
}
