@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    max-width: 40vw;
    flex-shrink: 0;
    height: 100vh;
}

.content {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
}