.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    height: 100%;
    min-width: 300px;
}

.title {
    font-weight: 600;
    font-size: 22px;
    color: rgb(60, 67, 100);
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    
    label {
        font-style: normal;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    input {
        font-size: 18px;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 10px;
    }
}

.change-password-button {
    font-weight: 600;
    background-color: rgb(77,86,128);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    transition: background-color 200ms;
    border-radius: 25px;
}

.change-password-button:hover {
    background-color: rgb(90, 101, 150);
    transition: all 200ms
}

.change-password-button:active {
    background-color: rgb(60, 67, 100);
}

.response-msg {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 18px;
}