.main-container {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem 7rem;
  background-color: rgb(251, 251, 251);
  box-shadow: 10px 10px 0px 0px rgba(255, 188, 106, 0.75);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(255, 188, 106, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(255, 188, 106, 0.75);
  border-radius: 25px;

  &__message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &__balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin: 0;
    }
  }
}
